@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Join a growing community of bloggers worldwide and document your unique personality and viewpoints today!</p>
</div>
