
@{
    ViewData["Title"] = "Signup";
}

<h1>Signup</h1>
<div class="text-center">
<h1 class="display-4">New User Signup</h1>
    <p>Please complete the form below to start posting.</p>
    <p>Already have an account? Click <a href="/home/login">here</a> to return to login.</p>
</div>

